[user]
  name = Tobias Naftali
  email = 8753873+tnaftali@users.noreply.github.com
[github]
  user = tnaftali
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[core]
	pager = ~/projects/diff-so-fancy/diff-so-fancy | less --tabs=2 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
